@charset "utf-8";

.labels {
    text-align: center;
}

.label {
    border: 0.5mm dashed #4d4d4d;
    display: inline-block;
    font-family: "Oxygen", "Open Sans", sans-serif;
    overflow: hidden;
    vertical-align: top;
}

.label .label-code {
    color: #000000;
    text-transform: uppercase;
}

.label .label-name {
    color: #000000;
    text-transform: uppercase;
}

.label .label-description {
    color: #2d2d2d;
    text-transform: none;
}

.label.label-left,
.label.label-right {
    font-size: 0px;
    margin: 0mm 1.5mm 3.0mm 1.5mm;
    padding: 3mm 3mm 3mm 3mm;
}

.label.label-left > *,
.label.label-right > * {
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    vertical-align: middle;
}

.label.label-left > .right:after,
.label.label-right > .right:after {
    clear: both;
}

.label.label-left .label-image,
.label.label-right .label-image {
    object-fit: contain;
    width: 100%;
}

.label.label-left > .left,
.label.label-right > .right {
    vertical-align: top;
}

.label.label-left > .right,
.label.label-right > .left {
    font-size: 0px;
}

.label.label-left .label-code {
    font-size: 160%;
    margin-bottom: 1mm;
}

.label.label-left .label-name {
    font-size: 110%;
}

.label.label-right .label-code {
    font-size: 110%;
}

.label.label-right .label-name {
    font-size: 120%;
    margin-bottom: 1.5mm;
}

.label.label-right .label-description {
    font-size: 100%;
}

.label.label-vertical {
    margin: 0mm 1.5mm 3.0mm 1.5mm;
    padding: 3mm 3mm 3mm 3mm;
}

.label.label-vertical .label-image {
    object-fit: contain;
    width: 100%;
}

.label.label-vertical .label-code {
    font-size: 90%;
    margin-top: 2mm;
}

.label.label-vertical .label-name {
    font-size: 130%;
    margin-bottom: 3mm;
}

.label.label-vertical .label-description {
    font-size: 90%;
}

.label.label-30x12 {
    height: 12mm;
    padding: 1.5mm 1.5mm 1.5mm 1.5mm;
    width: 30mm;
}

.label.label-30x12 > * {
    font-size: 5px;
}

.label.label-30x12 > .left {
    margin-right: 1mm;
    width: 17mm;
}

.label.label-30x12 > .right {
    width: 8mm;
}

.label.label-98x40 {
    height: 40mm;
    width: 98mm;
}

.label.label-98x40 > .left {
    margin-right: 4mm;
    width: 54mm;
}

.label.label-98x40 > .right {
    width: 33mm;
}

.label.label-40x25 {
    height: 25mm;
    width: 40mm;
}

.label.label-40x25 > * {
    font-size: 9px;
}

.label.label-40x25 > .left {
    margin-right: 3mm;
    width: 10mm;
}

.label.label-40x25 > .right {
    width: 20mm;
}

.label.label-70x25 {
    height: 25mm;
    width: 70mm;
}

.label.label-70x25 > * {
    font-size: 10px;
}

.label.label-70x25 > .left {
    margin-right: 3mm;
    width: 18mm;
}

.label.label-70x25 > .right {
    width: 42mm;
}

.label.label-55x45 {
    height: 45mm;
    width: 55mm;
}

.label.label-55x45 > * {
    font-size: 10px;
}

.label.label-55x45 > .left {
    margin-right: 3mm;
    width: 24mm;
}

.label.label-55x45 > .right {
    width: 21mm;
}

.label.label-90x57 {
    height: 57mm;
    width: 90mm;
}

.label.label-90x57 > * {
    font-size: 11px;
}

.label.label-90x57 > .left {
    margin-right: 3mm;
    width: 50mm;
}

.label.label-90x57 > .right {
    width: 30mm;
}

.label.label-100x50 {
    height: 50mm;
    width: 100mm;
}

.label.label-100x50 > * {
    font-size: 15px;
}

.label.label-100x50 > .left {
    margin-right: 3mm;
    width: 43mm;
}

.label.label-100x50 > .right {
    width: 47mm;
}

.label.label-145x85 {
    height: 85mm;
    width: 145mm;
}

.label.label-145x85 > * {
    font-size: 15px;
}

.label.label-145x85 > .left {
    margin-right: 3mm;
    width: 78mm;
}

.label.label-145x85 > .right {
    width: 57mm;
}

.label.label-25x40 {
    font-size: 9px;
    height: 40mm;
    width: 25mm;
}

.label.label-25x40 .label-description {
    display: none;
}

.label.label-25x70 {
    font-size: 11px;
    height: 70mm;
    width: 25mm;
}

.label.label-50x100 {
    height: 100mm;
    width: 50mm;
}

.label.label-85x145 {
    height: 145mm;
    width: 85mm;
}
