@charset "utf-8";

body.printing {
    background-color: #fafafa;
       box-sizing: border-box;
    height: 100%;
    margin: 0mm 0mm 0mm 0mm;
    padding: 0mm 0mm 0mm 0mm;
    width: 100%;
}

body.printing * {
       box-sizing: border-box;
}

body.printing .page {
    background: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 5px 5px 5px 5px;
    margin: 10mm auto 10mm auto;
    min-height: 297mm;
    padding: 6mm 2mm 6mm 2mm;
    width: 210mm;
}

body.printing .page-counter {
    font-size: 16px;
    margin: 0mm 0px 6mm 0mm;
}

@page {
    margin: 0mm 0mm 0mm 0mm;
    padding: 0mm 0mm 0mm 0mm;
    size: A4;
}

@media print {
    html,
    body.printing {
        height: 297mm;
        margin: 0mm 0mm 0mm 0mm;
        padding: 0mm 0mm 0mm 0mm;
        width: 210mm;
    }

    body.printing .page {
        background: initial;
        border: initial;
        border-radius: initial;
        box-shadow: initial;
        margin: 0mm 0mm 0mm 0mm;
        min-height: initial;
        page-break-after: always;
        width: initial;
    }
}

/*------------------- page stuff ---- */
.labels {
    text-align: center;
}

.label {
    border: 2px dashed #4d4d4d;
    display: inline-block;
    font-family: "Oxygen", "Open Sans", sans-serif;
}

.label .label-name {
    color: #000000;
    text-transform: uppercase;
}

.label .label-description {
    color: #2d2d2d;
    text-transform: none;
}

.label.small {
    font-size: 0px;
    height: 40mm;
    margin: 0mm 1.5mm 3.0mm 1.5mm;
    padding: 3mm 4mm 3mm 4mm;
    width: 98mm;
}

.label.small > * {
    display: inline-block;
    vertical-align: middle;
}

.label.small > .left {
    height: 34mm;
    margin-right: 4mm;
    width: 52mm;
}

.label.small > .right:after {
    clear: both;
}

.label.small > .right {
    font-size: 0px;
    width: 32mm;
}

.label.small .label-name {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 8px;
}

.label.small .label-description {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.label.small .label-image {
    height: 32mm;
    object-fit: contain;
    width: 32mm;
}

.label.large {
    font-size: 0px;
    height: 850px;
    width: 490px;
}
