@charset "utf-8";

.labels {
    text-align: left;
}

.label {
    border: 2px dashed #6d6d6d;
    display: inline-block;
    margin: 0px 12px 12px 0px;
    padding: 12px 18px 12px 18px;
}

.label.small {
    height: 120px;
    width: 340px;
}

.label > .left {
    float: left;
}

.label.small > .left {
    width: 220px;
}

.label > .right {
    float: right;
}

.label > .right:after {
    clear: both;
}

.label.small > .right {
    width: 120px;
}

.label .label-name {
    text-transform: uppercase;
}

.label.small .label-name {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
}

.label .label-description {
    text-transform: uppercase;
}

.label.small .label-description {
    font-size: 18px;
    line-height: 22px;
}

.label.small .label-image {
    height: 120px;
    object-fit: contain;
    width: 120px;
}
